
btn-del = 0.2s
//= size
//

main-fs = 14px
body-min-w = 1254px

fw-t = 300
fw-n = 400
fw-m = 500
fw-b = 600

//= palette
//
main-c = #2F2D2B
main-bg = #292625
primary-c = #F5AE1B

gray = #7E7E7E
lightgray = #ACACAC