
@import "_reset.styl"
global-reset()

@import 'css/fontawesome.css';

@import "_clearfix.styl"
@import "_variables.styl"
@import "_mixins.styl"
@import 'components/*'

*, *:after, *:before
	-webkit-box-sizing border-box
	-moz-box-sizing border-box
	box-sizing border-box


html, body
	height 100%
	font-family Roboto Condensed,Helvetica,Arial,sans-serif
	font-size main-fs
	line-height 1.45
	color white
	background-color main-bg
	font-weight fw-n
	min-width body-min-w



//----------------------------------------------------
//= header
//

.header
	background-color white
	margin-bottom 20px
	color main-c
	&-top
		height 60px
		.logo
			float left
			width 147px
			height 36px
			background-image url('../img/logo@2x.png')
			background-size cover
			margin-top 12px
		.login
			float right
			margin-top 14px
			font-weight fw-b
			*
				vertical-align top
			.user-info
				display inline-block
				line-height 32px
				margin-right 25px
				.id
					color #7E7E7E
		.main-menu
			// font-size 0
			margin 14px 230px 0
			text-align center
			li
				display inline-block
				// font-size 15px
				text-transform uppercase
				a
					padding 5px 11px
					display inline-block
					color main-c
					font-weight fw-b
					text-decoration none
					&:hover,
					../.active a
						color white
						background-color main-c
						border-radius 2px
					.sup
						font-size 8px
						color primary-c
						vertical-align super
	&-submenu
		background-color #EBEBEB
		height 40px
		text-align center
		li
			display inline-block
			a
				display inline-block
				color #737271
				text-transform uppercase
				height 40px
				line-height 40px
				padding 0 10px
				position relative
				font-size (main-fs - 1)
				font-weight fw-b
				text-decoration none
				&:hover,
				../.active a
					color #23211F
					&:after
						display block
				&:after
					display none
					content ''
					position absolute
					bottom 0
					left 50%
					margin-left -6px
					border 6px solid transparent 
					border-bottom 6px solid main-bg 


//----------------------------------------------------
//= hero
//

.hero
	margin-bottom 25px
	height 400px
	.right-bar
		width 235px
		float right
		.panel
			background-color #3E3C3A
			border 0
			border-radius 3px
			margin-bottom 19px
			&-heading
				background-color #7E7E7E
				padding 6px 11px
				.material-icons
					font-size 20px
					margin-top -5px
					margin-right 5px
					position relative
					top 3px
			&-body
				padding 6px 11px
	.slider
		margin-right 250px
		height 400px
		background url('../img/slider-img.jpg')
		background-size cover
		position relative
		&-controls
			.prev,
			.next
				position absolute
				top 0
				bottom 0
				width 100px
				background-image url('../img/icons/arrow.png')
				background-size 15px auto
				background-repeat no-repeat
				text-decoration none
				cursor pointer
				transition all 0.05s
				&:hover
					background-position-x 10px
				&.last
					opacity 0.5
					cursor default
					&:hover
						background-position-x 15px
			.prev
				left 0
				background-position 15px 50%
			.next
				right 0
				background-position 15px 50%
				transform rotate(180deg)
		&-pager
			position absolute
			bottom 17px
			left 0
			right 0
			text-align center
			font-size 0
			.point
				position relative
				display inline-block
				width 12px
				height 12px
				border 1px solid transparent
				border-radius 50%
				cursor pointer
				margin 0 5px
				&:before
					content ''
					position absolute
					height 6px
					width 6px
					background-color white
					border-radius 50%
					top 2px
					left 2px
				&.active,
				&:hover
					border-color white
					&:before
						display none
		&-content
			position absolute
			top 50px
			bottom 50px
			left 115px
			right 115px
			vertical-align middle
			.title
				font-size 40px
				padding 10px 0
				width 100%
			&:before
				content ''
				display inline-block
				height 100%
				vertical-align middle
			.inner
				display inline-block
				vertical-align middle


	&2
		height 240px
		margin-bottom 20px
		overflow hidden
		border-radius 3px
		padding 65px 50px
		display block
		.title
			display inline-block
			font-size size
			font-size 40px
			line-height 1.4
			color white

.countdown
	background-color #F5AE1B
	height 76px
	border-radius 3px
	padding 5px 10px
	.title
		color #292625
		font-weight fw-b
	


//----------------------------------------------------
//= content
//

.list-games
	text-align center
	margin-bottom 40px
	.one-game
		position relative
		text-align left
		display inline-block
		width 232px
		height 130px
		background-color red
		vertical-align top
		margin 0 5px 12px
		border-radius 3px
		.img
			border-radius 3px
		.fav
			display none
			position absolute
			z-index 1
			cursor pointer
			right 12px
			top 12px
			width 20px
			height 19px
			background-image url('../img/icons/fav.png')
			background-size 20px auto
			&:hover
				background-position -33%
			../.favorite .fav
				display block
				background-position 0 100%
			../:hover .fav
				display block
		.label-b
			position absolute
			left 0
			top 0
			font-size 0
			nowrap()
			.label
				height 20px
				line-height 20px
				vertical-align top
				padding 0 8px
				border-radius 0
				text-transform uppercase
				font-size 12px
				&:first-child
					border-radius 3px 0 0
			.new
				background-color #D01F24
				color white
			.top
				background-color #2FBF37
				color white
		.options
			display none
			position absolute
			top 0
			right 0
			left 0
			bottom 0
			background rgba(40,38,36,0.75)
			border 2px solid primary-c
			border-radius 3px
			padding 9px 12px
			../:hover .options
				display block
			.name
				display block
				font-size 18px
				font-weight fw-b
				color white
				margin-right 25px
				text-decoration none
				ellipsis()
				&:hover
					color darken(white, 15%)
			.play
				text-align center
				padding 12px 0 15px
				.btn
					&:before
						content ''
						display inline-block
						border 7px solid transparent
						border-left 11px solid main-bg
						vertical-align top
						margin-right 3px
			.demo
				text-align center
				a
					color white
					text-decoration underline
					opacity .8
					font-weight fw-t
					&:hover
						text-decoration none
	&-ver
		.one-game
			border-bottom 1px solid #292625
			padding 15px 11px
			&:last-child
				border-bottom 0 style color
			clearfix()
			.ico
				float left
				width 60px
				height 60px
				margin-right 11px
			.name
				display block
				font-size 16px
				height 23px
				margin-bottom 10px
				color white
				text-decoration none
				ellipsis()
				&:hover
					text-decoration underline
	&2
		margin-right -16px
		clearfix()
		.one-game
			position relative
			width 294px
			height 212px
			display block
			float left
			margin-right 16px
			margin-bottom 16px
			.img
				border-radius 3px
				width 294px
				height 212px
			.bottom
				position absolute
				left 0
				right 0
				bottom 0
				padding 8px
				.btn
					width 100%
			.label-b
				position absolute
				left 0
				top 0
				font-size 0
				nowrap()
				.label
					height 20px
					line-height 20px
					vertical-align top
					padding 0 8px
					border-radius 0
					text-transform uppercase
					font-size 12px
					&:first-child
						border-radius 3px 0 0
				.new
					background-color #D01F24
					color white
				.top
					background-color #2FBF37
					color white



//----------------------------------------------------
//= footer
//

.footer
	border-top 1px solid #3E3C3A
	padding-top 50px
	.narrow-line
		padding-top 0
		padding-bottom 0
	&-menu
		clearfix()
		padding-bottom 50px
		>li
			background-repeat no-repeat
			background-size 20px auto
			&.help
				background-image url('../img/icons/help.png')
			&.sport-bets
				background-image url('../img/icons/ball.png')
			&.services
				background-image url('../img/icons/games.png')
			&.parimatch
				background-image url('../img/icons/parimatch.png')
			color #DFDFDF
			float left
			width 25%
			padding-left 28px
			.submenu
				margin-top 8px
				a
					color gray
					text-decoration none
					transition btn-del
					&:hover
						text-decoration underline
						color #DFDFDF
	.payment-provider,
	.game-provider,
	.licensing
		border-top 1px solid #3E3C3A
		text-align center
		a
			display inline-block
			vertical-align middle
			margin 5px 20px
			opacity 0.6
			transition btn-del
			&:hover
				opacity 1
		img
			max-height 34px
	
	.licensing
		padding 30px 0
		a
			margin 5px 50px
	.payment-provider
		padding 15px 0
		a
			margin 15px 20px
	.game-provider
		padding 30px 0 20px
		
	.copyright
		padding 10px 0
		text-align center
		color gray


.game-filter
	margin-bottom 40px
	.search
		float right
		width 200px
		.form-control
			border-color #F5AE1B
			background-color main-bg
			border-radius 2px
			color white
	.menu
		margin-right 220px
		font-size 0
		> *
			font-size 14px
		.btn
			font-weight fw-n
			text-transform none
			margin-left 8px
			&:first-child
				margin-left 0
			.material-icons
				position relative
				font-size 16px
				line-height 1px
				top 3px
				margin-right 5px
				margin-left -1px








@import "_media.styl"

