
button-variant(color, back, border)
	color color
	background-color back
	border-color border
	&:hover,
	&:focus,
	&.focus,
	&:active,
	&.active
		color color
		background-color darken(back, 15%)
		outline none
		border-color border
	&:active,
	&.active
		box-shadow inset 0 2px 6px rgba(0,0,0,0.2)
		&.focus,
		&:focus,
		&:hover
			color color
			background-color darken(back, 15%)
			outline none
	

	// &.disabled,
	// &[disabled]
	// 	background-color lighten(back, 50%)
	&.disabled,
	&[disabled]
		background-color #E0E0E0
	
button-size(pad-ver, pad-hor, fs, br, lh)
	padding pad-ver pad-hor
	font-size fs
	border-radius br
	line-height lh

.btn
	border-radius 2px
	border 1px solid
	padding 8px 11px
	font-size main-fs
	text-transform uppercase
	font-weight fw-b
	transition btn-del
	line-height 1
	text-decoration none
	&-primary
		button-variant(main-c,primary-c,primary-c)
	&-default
		button-variant(main-c,white,#ACACAC)
	&-gray
		button-variant(#D0D0D0,main-bg,#4E4C4A)
	&-lg
		button-size(10px, 8px, 14px, 3px, 1)
	&-lg2
		button-size(12px, 20px, 14px, 3px, 1)
	&-sm
		button-size(6px, 11px, 13px, 3px, 1)
		