//= Circle
//

.circle
	width 15px
	height 15px
	display inline-block
	background gray
	border-radius 50%
	position relative
	&.active
		&:before
			display block
	&:before
		content " "
		position absolute
		top -4px
		left -4px
		width 23px
		height 23px
		border-radius 50%
		border 1px solid
		display none
.circle-hover
	.circle
		cursor pointer
		&:hover
			&:before
				display block
.group-circles
	.circle
		margin 5px 20px 5px 0


// color circle
&.circle-default 
	background-color color-gray-100
&.circle-primary 
	background-color color-blue-500
&.circle-info 
	background-color color-cyan-500
&.circle-success 
	background-color color-green-500
&.circle-warning 
	background-color color-yellow-700
&.circle-danger 
	background-color color-red-900
&.circle-gray 
	background-color color-gray-500

// circle size
.circle-xs 
	width 8px
	height 8px 