//= counter
//

.counter
	position relative
	min-width 60px
	i.top,
	i.bottom
		position absolute
		right 1px
		width 18px
		height 50%
		background #F6F6F6
		border-left solid 1px #C9C8C8
		color #000
		cursor pointer
		font-family 'FontAwesome'
		text-align center
		font-style normal
		padding-top 1px
		&:hover
			background #EFEFEF
		&:active
			background #D8D8D8
	i.top,
	i.bottom
		&:before
			content ""
			display inline-block
			height 100%
			vertical-align middle
	i.top
		top 1px
		border-bottom solid 1px #C9C8C8
		z-index 1
		border-top-right-radius 4px
		&:after
			content "\f0de"
			font-size: 9px;
	i.bottom
		bottom 1px
		border-bottom-right-radius 4px
		&:after
			content "\f0dd"
			font-size: 9px;
	.form-control
		padding-right 23px
		padding-left 5px
		text-align center
		&.text-left
			text-align left
			padding-left 12px
			padding-right 25px
	&&-sm
		min-width 50px
	.top,
	.bottom 
		-webkit-user-select none
		-moz-user-select none
		-ms-user-select none
		user-select none