a
	text-decoration underline
	&:hover
		text-decoration none
	&:focus
		text-decoration none


.fs-12
	font-size 12px !important
.fs-14
	font-size 14px !important
.fs-16
	font-size 16px !important
.fs-18
	font-size 18px !important
.fs-20
	font-size 20px !important
.fs-22
	font-size 22px !important
.fs-27
	font-size 27px !important

.fw-n
	font-weight fw-n
.fw-m
	font-weight fw-m
.fw-b
	font-weight fw-b

.ma-1
	margin: 1px !important

.ml-10
	margin-left: 10px !important

.ma-3
	margin: 3px !important

.ma-2
	margin: 2px !important

.ma-5
	margin: 5px !important

.ma-4
	margin: 4px !important

.mnt-20
	margin-top: -20px !important

.mnr-6
	margin-right: -6px !important

.mnr-1
	margin-right: -1px !important

.mnr-3
	margin-right: -3px !important

.mnr-2
	margin-right: -2px !important

.mnl-20
	margin-left: -20px !important

.mt-15
	margin-top: 15px !important

.nm
	margin: 0px !important

.mnr-5
	margin-right: -5px !important

.mna-20
	margin: -20px !important

.mnl-5
	margin-left: -5px !important

.ml-20
	margin-left: 20px !important

.mna-5
	margin: -5px !important

.ma-10
	margin: 10px !important

.mnl-3
	margin-left: -3px !important

.mb-15
	margin-bottom: 15px !important

.mb-5
	margin-bottom: 5px !important

.mb-20
	margin-bottom: 20px !important

.mnr-4
	margin-right: -4px !important

.mnt-10
	margin-top: -10px !important

.ml-5
	margin-left: 5px !important

.mt-10
	margin-top: 10px !important

.mna-10
	margin: -10px !important

.mr-5
	margin-right: 5px !important

.mr-6
	margin-right: 6px !important
	
.mr-30
	margin-right: 30px !important

.ma-15
	margin: 15px !important

.mna-15
	margin: -15px !important

.mnb-4
	margin-bottom: -4px !important

.mnb-6
	margin-bottom: -6px !important

.mnb-1
	margin-bottom: -1px !important

.mnb-3
	margin-bottom: -3px !important

.mnb-2
	margin-bottom: -2px !important

.mnl-6
	margin-left: -6px !important

.mnl-4
	margin-left: -4px !important

.mb-10
	margin-bottom: 10px !important

.mnl-2
	margin-left: -2px !important

.mnl-1
	margin-left: -1px !important

.mnb-1
	margin-bottom: -10px !important

.mr-20
	margin-right: 20px !important

.mnb-15
	margin-bottom: -15px !important

.mnt-5
	margin-top: -5px !important

.mnt-15
	margin-top: -15px !important

.mnt-6
	margin-top: -6px !important

.ma-20
	margin: 20px !important

.mr-10
	margin-right: 10px !important

.mr-15
	margin-right: 15px !important

.mr-50
	margin-right: 50px !important

.mb-2
	margin-bottom: 2px !important

.mb-3
	margin-bottom: 3px !important

.mb-0
	margin-bottom: 0px !important

.mb-1
	margin-bottom: 1px !important

.mt-20
	margin-top: 20px !important

.mb-4
	margin-bottom: 4px !important

.mnb-20
	margin-bottom: -20px !important

.mnt-3
	margin-top: -3px !important

.mna-4
	margin: -4px !important

.mna-2
	margin: -2px !important

.mna-3
	margin: -3px !important

.mna-1
	margin: -1px !important

.mnb-5
	margin-bottom: -5px !important

.mnr-15
	margin-right: -15px !important

.mnr-20
	margin-right: -20px !important

.mr-2
	margin-right: 2px !important

.mr-3
	margin-right: 3px !important

.mr-0
	margin-right: 0px !important

.mr-1
	margin-right: 1px !important

.mnl-15
	margin-left: -15px !important

.mr-4
	margin-right: 4px !important

.mt-0
	margin-top: 0px !important

.mt-1
	margin-top: 1px !important

.mt-2
	margin-top: 2px !important

.mt-3
	margin-top: 3px !important

.mt-4
	margin-top: 4px !important

.ml-0
	margin-left: 0px !important

.ml-1
	margin-left: 1px !important

.ml-2
	margin-left: 2px !important

.mnt-4
	margin-top: -4px !important

.ml-4
	margin-left: 4px !important

.mnt-2
	margin-top: -2px !important

.mnt-1
	margin-top: -1px !important

.mnl-10
	margin-left: -10px !important

.mt-5
	margin-top: 5px !important

.mnr-10
	margin-right: -10px !important

.ml-15
	margin-left: 15px !important

.ml-3
	margin-left: 3px !important



.pos-rel
	position: relative
.pos-abs
	position: absolute
.pos-t-3
	top: 3px
.pos-t-2
	top: 2px
.pos-t-1
	top: 1px
.pos-t-5
	top: 5px
.pos-t-4
	top: 4px
.pos-t-n-1
	top: -1px
.pos-t-n-2
	top: -2px
.pos-t-n-3
	top: -3px
.pos-t-n-4
	top: -4px
.pos-t-n-5
	top: -5px
.pos-b-1
	bottom: 1px
.pos-b-3
	bottom: 3px
.pos-b-2
	bottom: 2px
.pos-b-5
	bottom: 5px
.pos-b-4
	bottom: 4px
.pos-l-3
	left: 3px
.pos-l-2
	left: 2px
.pos-l-1
	left: 1px
.pos-l-5
	left: 5px
.pos-l-4
	left: 4px
.pos-r-1
	right: 1px
.pos-r-3
	right: 3px
.pos-r-2
	right: 2px
.pos-r-5
	right: 5px
.pos-r-4
	right: 4px

.pl-10
	padding-left: 10px !important

.pr-10
	padding-right: 10px !important

.pl-15
	padding-left: 15px !important

.pa-20
	padding: 20px !important

.pr-4
	padding-right: 4px !important

.pr-1
	padding-right: 1px !important

.pr-0
	padding-right: 0px !important

.pr-3
	padding-right: 3px !important

.pr-2
	padding-right: 2px !important

.pl-5
	padding-left 5px !important

.pt-40
	padding-top 40px !important

.pt-15
	padding-top 15px !important

.pb-30
	padding-bottom 30px !important

.pb-20
	padding-bottom 20px !important

.pt-50
	padding-top 50px !important

.pt-4
	padding-top 4px !important

.pt-3
	padding-top 3px !important

.pt-2
	padding-top 2px !important

.pt-1
	padding-top 1px !important

.pt-0
	padding-top: 0px !important

.np
	padding: 0px !important

.pr-5
	padding-right: 5px !important

.pt-10
	padding-top: 10px !important

.pt-20
	padding-top: 20px !important

.pb-4
	padding-bottom: 4px !important

.pr-15
	padding-right: 15px !important

.pb-1
	padding-bottom: 1px !important

.pb-0
	padding-bottom: 0px !important

.pb-3
	padding-bottom: 3px !important

.pb-2
	padding-bottom: 2px !important

.pb-10
	padding-bottom: 10px !important

.pt-5
	padding-top: 5px !important

.pa-4
	padding: 4px !important

.pa-2
	padding: 2px !important

.pa-3
	padding: 3px !important

.pl-20
	padding-left: 20px !important

.pa-1
	padding: 1px !important

.pr-20
	padding-right: 20px !important
.pr-50
	padding-right: 50px !important
.pr-55
	padding-right: 55px !important

.pa-15
	padding: 15px !important

.pl-4
	padding-left: 4px !important

.pl-3
	padding-left: 3px !important

.pl-2
	padding-left: 2px !important

.pl-1
	padding-left: 1px !important

.pl-0
	padding-left: 0px !important

.pb-15
	padding-bottom: 15px !important

.pa-10
	padding: 10px !important

.pb-5
	padding-bottom: 5px !important

.pa-5
	padding: 5px !important




.h1,.h2,.h3,.h4,.h5,.h6
	margin-top 0
	margin-bottom 25px
	font-weight fw-n
.h1
	font-size 30px
.h2
	font-size 28px
.h3
	font-size 26px
.h4
	font-size 24px
.h5
	font-size 20px
.h6
	font-size 18px
p
	margin 20px 0


.h-100
	height 100px !important
.h-260
	height 260px !important
.w-80
	width 80px !important
.w-120
	width 120px !important
.w-100
	width 100px !important
.w-500
	width 500px !important
.w-700
	width 700px !important
.w100
	width 100% !important
.w58
	width 58% !important
.w42
	width 42% !important
.h100
	height 100% !important

.w-1
	width 1px

.d-t
	display table
	&-r
		display table-row
	&-c
		display table-cell
		vertical-align top
	&-fix
		table-layout fixed

.rotate-90
	transform: rotate(-90deg)

.dis-ib
	display inline-block

.text-up
	text-transform uppercase

.text-lightgray
	color lightgray
.text-gray
	color gray

.ellipsis
	overflow hidden
	white-space nowrap
	text-overflow ellipsis

.block-bt
	border-top 1px solid #3E3C3A

.narrow-line
	padding 50px 140px
	









