.dropdown
	.dropdown-menu
		.form-horizontal
			width 250px
			padding 15px
			font-size 12px
			.form-group
				.control-label
					white-space nowrap		
		>li
			>button
				position relative
				z-index 1
				margin-top -1px
				padding 5px 20px
				border-top 1px solid transparent
				border-bottom 1px solid transparent
				display block
				clear both
				font-weight normal
				line-height 1.42857143
				white-space nowrap
				background-color inherit
				border-left none
				border-right none
				width 100%
				outline none
				color #333
				text-align left
				&:hover
					z-index 2
					border-color #d8dbdf
					color #262626
					text-decoration none
					background-color #f5f5f5