label 
  font-weight 600
 .form-group
 	margin-bottom 10px
 .form-horizontal
	.form-group
		margin-left -10px
		margin-right -10px
		.control-label
			text-align inherit
			color #000
			white-space nowrap

.form
	&-control
		height 32px
		padding 6px 8px
		border 1px solid #D0D0D0
		border-radius 1px
		box-shadow none
		color #ACACAC
		&:focus
			box-shadow none

		&-icon
			position relative
			.form-control
				padding-left 30px
			.the-icon
				position absolute
				z-index 2
				top 4px
				left 5px