label-variant(back,color)
	background back
	color color


.label
	position relative
	display inline-block
	vertical-align middle
	padding 2px 5px
	border-radius 1px
	font-weight 400
	font-size inherit
	text-shadow 0 1px 1px rgba(0, 0, 0, .15)
	min-width 18px
	

	&-orange
		label-variant(#F5AE1B, white)
	&-red
		label-variant(#DB3900, white)
	&-silver
		label-variant(#c2c1c1, white)

.label-field
	display inline-block
	margin-right 30px
	&-wide
		padding 10px
	
