.panel
	&-body
		&-wide
			padding-left 0
			padding-right 0
	&-default
		border none
		box-shadow none
		border-radius 2px
		.panel-heading
			border none
			background #EBEBEB
			padding 11px 11px
			border-bottom 1px solid transparent
	&:last-child
		margin-bottom 0
	
	&-gray
		background-color #cccccc
		border none
		.panel-heading
			border none
			background #cccccc
			color #292625
			padding 10px
		.panel-body
			padding 10px
	
	&-include
		width 970px
		margin 0 auto