.switch
  vertical-align middle 
  margin-bottom 0 
  line-height 0 
  cursor pointer 
  user-select none 

  input
    position absolute 
    opacity 0 

    ~ .text
      display inline-block 
      font-weight 400 
      line-height 15px 
      vertical-align middle 
    

    ~ .switch
      font-size 24px 
      position relative 
      display inline-block 
      vertical-align middle 
      background-color darken(#D0D0D0, 2%) 
      box-shadow inset 0 0 0 1px #e5e5e5 
      cursor pointer 
      height 15px 
      width 28px
      border-radius 15px 
      transition border .25s .15s, box-shadow .25s .3s, padding .25s 
      
      &:after
        position absolute 
        background-color #fff 
        border 1px solid #e5e5e5 
        border-radius 15px 
        box-shadow 0 1px 1px rgba(0,0,0,.2)
        content '' 
        display block 
        height 15px 
        width 15px 
        left 0 
        top 0 
        transition border .25s .15s, left .25s .1s, right .15s .175s 
      
    

    &:checked
      ~ .switch
        border-color #F5AE1B 
        box-shadow inset 0 0 0 0.6em #F5AE1B 
        transition border .25s, box-shadow .25s, padding .25s .15s 
      
        &:after
          border-color #F5AE1B
          left 0.6em 
          right 0 
          transition border .25s, left .15s .25s, right .25s .175s 
        
      
    
  
  
  &.disabled
    opacity 0.75 



.switch-primary
  input
    &:checked
      ~ .switch
      border-color #F5AE1B
      box-shadow 0 0 0 0.6em #F5AE1B inset
      &:after
        border-color #F5AE1B

