//= table =//
.table
	>thead,
	>tbody
		>tr
			>th,
			>td
				border-top none
				border-bottom 1px solid #c4c9cf
				height 39px
				font-weight 500
				white-space nowrap
				
// page table-fin-bets

