//
// Tooltip
// --------------------------------------------------



.toolt
    position relative
    font-size 13px
    // white-space nowrap
    &:hover &-wrap
        display block
    &-wrap
        min-width 500px
        height 0px
        position absolute
        bottom 100%
        left 50%
        margin-bottom 10px
        margin-left -250px
        text-align center
        transform rotate(180deg)
        display none
        z-index 2
        >i
            position absolute
            bottom 100%
            left 35%
            right 35%
            height 12px
            margin-bottom -1px
        &:after
            content '' 
            position absolute
            left 50%
            margin-left -10px
            bottom 0
            border 10px solid transparent
            border-bottom 10px solid rgba(0, 0, 0, 0.85)
    &-inner
        background-color rgba(0, 0, 0, 0.85)
        color #fff
        display inline-block
        text-align center
        max-height 100px
        max-width 200px
        min-width 50px
        min-height 14px
        border-radius 4px
        padding 8px 8px
        overflow auto
        transform rotate(-180deg)

    // toolt-l

    &-left
        .toolt-wrap
            left 0
            min-width 0px
            margin-left 0px
            >i
                right 0
                left 0
            &:after
                right 0
                margin-right 10px
                left initial
        .toolt-bottom
            .toolt-wrap
                &:after
                    left 0

    // toolt-r

    &-right
        .toolt-wrap
            left initial
            right 0
            min-width 0
            margin-left 0
            >i
                left 0
                right 0
            &:after
                left 0
                margin-left 10px
                right initial

    // toolt-b

    &-bottom
        .toolt-wrap
            top 100%
            transform none
            margin-top 10px
            &:after
                bottom 100%
                margin-top -10px
                border-bottom 10px solid rgba(0, 0, 0, 0.85)
                border-top none
        .toolt-inner
            transform none
            &:before
                bottom 100%
                top initial
        &.toolt-left
            .toolt-wrap
                >i
                    left 0
                    right 0
                &:after
                    left 0
                    margin-left 10px
                    right initial
        &.toolt-right
            .toolt-wrap
                >i
                    right 0
                    left 0
                &:after
                    right 0
                    margin-right 10px
                    left initial
    table
        margin-top 5px
        >tbody
            >tr
                >td
                    padding-right 5px
                    padding-left 5px






